{% extends 'base.html' %}
<div class="col-12 col-md-6 col-xl-4">
<div class="dash-card h-100">
<div class="dash-card-title">Disease</div>
<div id="diseaseBox" class="dash-card-body">—</div>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="dash-card h-100">
<div class="dash-card-title">Description</div>
<div id="descriptionBox" class="dash-card-body">—</div>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="dash-card h-100">
<div class="dash-card-title">Precaution</div>
<ul id="precautionList" class="dash-card-body list-unstyled mb-0"></ul>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="dash-card h-100">
<div class="dash-card-title">Medications</div>
<ul id="medicationList" class="dash-card-body list-unstyled mb-0"></ul>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="dash-card h-100">
<div class="dash-card-title">Workouts</div>
<ul id="workoutList" class="dash-card-body list-unstyled mb-0"></ul>
</div>
</div>

<div class="col-12 col-md-6 col-xl-4">
<div class="dash-card h-100">
<div class="dash-card-title">Diets</div>
<ul id="dietList" class="dash-card-body list-unstyled mb-0"></ul>
</div>
</div>
</div>
</div>
</section>


<div class="modal fade" id="predictModal" tabindex="-1" aria-labelledby="predictModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header bg-primary text-white">
<h5 class="modal-title" id="predictModalLabel">Predicted Disease</h5>
<button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<div id="predictedDisease" class="fs-5 fw-semibold">—</div>
</div>
</div>
</div>
</div>


{% endblock %}
