{% extends "base.html" %}
{% block content %}
<h2>📚 Wellness Resources</h2>
<p>Here are some trusted resources to explore:</p>

<ul class="list-group">
  <li class="list-group-item">
    <a href="https://www.headspace.com/" target="_blank">🧘 Headspace – Meditation & Mindfulness</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.nike.com/ntc-app" target="_blank">💪 Nike Training Club – Free Workout App</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.nutrition.gov/" target="_blank">🥗 Nutrition.gov – Healthy Eating Guide</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.sleepfoundation.org/" target="_blank">😴 Sleep Foundation – Sleep Health</a>
  </li>
  <li class="list-group-item">
    <a href="https://www.calm.com/" target="_blank">🌸 Calm – Stress & Relaxation</a>
  </li>
</ul>
{% endblock %}
